
/irony_2011_01_22
/Parse Tree C-Sharp
/irony/NPhp/NPhp/obj
/irony/NPhp/NPhp/bin
/irony/NPhp/NPhp.Tests/bin
/irony/NPhp/NPhp.Tests/obj
*.suo
*.trx

/irony/NPhp/SafeILGenerator/bin
/irony/NPhp/SafeILGenerator/obj